//site color variables
$body-color: #131313;
$primary-color: #ca4949;
$secondary-color: #8b0000;
$text-color: #f48e8e;
$text-color-dark: #fff;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$darker-gray: #323232;

// solid colors
$white: #fff;
$black: #131313;

// Font Variables
$primary-font: 'Karla', sans-serif;
$secondary-font: 'Karla', sans-serif;
