{{ define "main" }}


<section class="site-hackathon-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="{{ .Params.banner_image }}" alt="Hackathon Banner">
      </div>
    </div>
  </div>
</section>

<section class="site-hackathon-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ .Params.hackathon_information }}</h2>
        <h3>{{ .Params.theme }}</h3>
        <p>{{ .Params.hackathon_description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="site-hackathon-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ .Params.clubs_title }}</h2>

          {{ range .Params.clubs }}
          <div class="site-hackathon-club">
            <div class="site-hackathon-club-name">
              <img src="{{ .logo }}" alt="{{ .title }} Logo">
              <h3>{{ .title }}</h3>
            </div>
            <p>{{ .description }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

<section class="site-hackathon-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Schedule</h2>
                <img src="{{ .Params.adgenda_image }}" alt="Adgenda Image">
            </div>
        </div>
    </div>
</section>

<section class="site-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            Our Team
          </h2>
        </div>
      </div>
    </div>
    {{ range .Params.team }}
    <div class="site-team-section">
        <div class="row">
            <div class="col-12">
                <div class="site-hackathon-team-title">
                    <h3>{{ .title }}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .members }}
            <div class="col-lg-4 col-md-6">
                <div class="site-hackathon-team-member">
                    <div class="site-team-member-image">
                        <img src="{{ .image | absURL }}" alt="team-member">
                    </div>
                    <div class="site-team-member-content">
                        <h3>{{ .name }}</h3>
                        {{ range .clubs }}
                        <img src="{{ . }}" alt="club-logo">
                        {{ end }}
                        <p>{{ .bio }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}